1.Creat variable

string

Ans: A string is a collection of character stored as a single value.In phython, a string is represented by the
     class named string.This class provides several function methods using which you can perform various oparations
     on string.

In [1]:
var1 = 'Hello World!'
var2 = "Python Programming"

print("var1[0]: ", var1[0])
print("var2[1:5]: ", var2[1:5])

var1[0]:  H
var2[1:5]:  ytho

variable: Python variable do not need explicit declaration to reserve memory space.
          The declaration happens automatically when you assign avalues to variable.
          The equal sign(=) is used to assign values to variables.

In [ ]:
(i) var1 = ‘ ‘ 
(ii) var2 = ‘[ DS , ML , Python]’ 
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
(iv) var4 = 1.

A variable has a data type such as number,string(for text),date,and
Boolean (for true or false).an array stores a set of data items,often of the same
type.An object represents something in the website or app,like a pet,a customar,or a blog
post

Ans: var1= once we create a phython variable and assign a value to it,we can print it using
           print()function.

Ans:[ var2]= The list is a most versatile datatype available in phython which can be written
    [ var3  ]    as a list of comma-separated values(items)between square brackets.

Ans: var4= Number data types store numeric values.Number objects are created when you assign a value to them.

In [ ]:
(i) / 
(ii) %  
(iii) // 
(iv) **

In [ ]:
Ans: / division

In [5]:
20/10

2.0

In [ ]:
Ans:% modulus

In [7]:
22%10

2

In [ ]:
Ans:** exponent

In [8]:
4**2

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [12]:
my_list = [1,2.0,"three",True,False,[1,2],(3,4),{"five":5}, 3+7j,{6}]

for element in my_list:print(element,type(element))

1 <class 'int'>
2.0 <class 'float'>
three <class 'str'>
True <class 'bool'>
False <class 'bool'>
[1, 2] <class 'list'>
(3, 4) <class 'tuple'>
{'five': 5} <class 'dict'>
(3+7j) <class 'complex'>
{6} <class 'set'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [13]:
a = 100
b = 5
count = 0
while a%b==0:
    count+= 1
    a/=b
    print(f"{a} is not divisible by {b}")
    print(f"{count}times {b} can divide{100}")

20.0 is not divisible by 5
1times 5 can divide100
4.0 is not divisible by 5
2times 5 can divide100

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [6]:
 my_list=[]
for i in range (1,26):
    my_list.append(i)
    if i%3==0:
        print(i,"is divisible by 3")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property.

In phython, data types can be either mutable or immutable.mutable data type can be change after they are created,while immutable data type cannot be changed after they are created.
here are some examples of mutable data types:

:list
:sets
Here are some example of immutable data types:
:intergers
:flots
:Booleans
:strings
:tuples

In [15]:
my_list  =[1,"jayanta",3]
my_list[0]=4
print(my_list)

[4, 'jayanta', 3]

In [17]:
my_tuple=(1,2,3)
my_tuple[0]=4
print(my_tuple)

TypeError: 'tuple' object does not support item assignment